<div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand js-scroll-trigger" href="/">
        <img src="/images/logo.png" width="75" height="55" class="topVAZ-logo" alt="block-blast-unblocked">         
    </a>
    <div class="navbar-collapse collapse" id="nav-menu">
        <a class="navbar-brand js-scroll-trigger" href="/"><strong>Block Blast Unblocked</strong></a>
    </div>
    <div class="navbar-collapse collapse" id="nav-menu"></div>
	<!--
    <div class="d-none d-lg-block">
        <ul class="navbar-nav">
            <li class="nav-item "><a class="nav-link " href="/all-games.html">All Games</a></li>
        </ul>
    </div>-->
</div>